* text=auto eol=lf

*.desktop text eol=lf
*.md text eol=lf
*.rules text eol=lf
*.service text eol=lf
*.sh text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
.dockerignore text eol=lf
Dockerfile text eol=lf
PKGBUILD text eol=lf

*.img binary
*.img.gz binary
*.img.xz binary
*.img.zst binary
*.pkg.tar.* binary
*.tar.* binary
